<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nxd.ftt.dao.PermissionDao">
    <resultMap id="BaseResultMap" type="com.nxd.ftt.entity.system.Permission">
        <result column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="PERMISSION" property="permission"/>
        <result column="MENU_ID" property="menuId"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CREATEOR" property="createor"/>
        <result column="UPDATEOR" property="updateor"/>
        <result column="MENU_NAME" property="menuName"/>
    </resultMap>
    <select id="list" parameterType="com.nxd.ftt.entity.system.Permission" resultMap="BaseResultMap">
        select
        <trim suffixOverrides=",">
            a.ID,
            a.NAME,
            a.PERMISSION,
            a.MENU_ID,
            b.MENU_NAME,
            a.CREATE_TIME,
            a.UPDATE_TIME,
            a.CREATEOR,
            a.UPDATEOR,
        </trim>
        from a_sys_permission a left join a_sys_menu b on a.MENU_ID = b.MENU_ID
        <where>
            <if test="id != null and id !=''">
                and a.ID = #{id}
            </if>
            <if test="name != null and name !=''">
                and a.NAME = #{name}
            </if>
            <if test="permission != null and permission !=''">
                and a.PERMISSION = #{permission}
            </if>
            <if test="menuId != null and menuId !=''">
                and a.MENU_ID = #{menuId}
            </if>
        </where>
    </select>
    <select id="findById" parameterType="com.nxd.ftt.entity.system.Permission" resultMap="BaseResultMap">
        select
        <trim suffixOverrides=",">
            ID,
            NAME,
            PERMISSION,
            MENU_ID,
            CREATE_TIME,
            UPDATE_TIME,
            CREATEOR,
            UPDATEOR,
        </trim>
        from a_sys_permission
        where ID = #{id}
    </select>
    <delete id="batchDelete" parameterType="java.lang.String">
        delete from a_sys_permission
        where ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
        #{item}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.nxd.ftt.entity.system.Permission">
        insert into a_sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id !=''">
                ID,
            </if>
            <if test="name != null and name !=''">
                NAME,
            </if>
            <if test="permission != null and permission !=''">
                PERMISSION,
            </if>
            <if test="menuId != null and menuId !=''">
                MENU_ID,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="createor != null and createor !=''">
                CREATEOR,
            </if>
            <if test="updateor != null and updateor !=''">
                UPDATEOR,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id !=''">
                #{id},
            </if>
            <if test="name != null and name !=''">
                #{name},
            </if>
            <if test="permission != null and permission !=''">
                #{permission},
            </if>
            <if test="menuId != null and menuId !=''">
                #{menuId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="createor != null and createor !=''">
                #{createor},
            </if>
            <if test="updateor != null and updateor !=''">
                #{updateor},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.nxd.ftt.entity.system.Permission">
        update a_sys_permission
        set
        <trim suffixOverrides=",">
            <if test="id != null and id !=''">
                ID = #{id},
            </if>
            <if test="name != null and name !=''">
                NAME = #{name},
            </if>
            <if test="permission != null and permission !=''">
                PERMISSION = #{permission},
            </if>
            <if test="menuId != null and menuId !=''">
                MENU_ID = #{menuId},
            </if>
            <if test="createTime != null and createTime !=''">
                CREATE_TIME = #{createTime},
            </if>
            <if test="updateTime != null and updateTime !=''">
                UPDATE_TIME = #{updateTime},
            </if>
            <if test="createor != null and createor !=''">
                CREATEOR = #{createor},
            </if>
            <if test="updateor != null and updateor !=''">
                UPDATEOR = #{updateor},
            </if>
        </trim>
        where ID = #{id}
    </update>
    <delete id="delete" parameterType="com.nxd.ftt.entity.system.Permission">
        delete from a_sys_permission
        where ID = #{id}
    </delete>

    <select id="getPermissionTree" parameterType="com.nxd.ftt.entity.Tree">
        select
            a.MENU_ID id,
            a.MENU_NAME name,
            a.PARENT_ID pId
        from a_sys_menu a left join a_sys_menu b on a.PARENT_ID = b.MENU_ID
        union all
        select
            b.ID id,
            b.`NAME` name,
            a.MENU_ID pId
        from a_sys_menu a,a_sys_permission b
        WHERE a.MENU_ID = b.MENU_ID
    </select>

</mapper>