<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nxd.ftt.dao.RoleDao">
    <resultMap id="BaseResultMap" type="com.nxd.ftt.entity.Role">
        <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId"/>
        <result column="DESC" jdbcType="VARCHAR" property="desc"/>
        <result column="RIGHTS" jdbcType="VARCHAR" property="rights"/>
    </resultMap>
    <select id="select" parameterType="com.nxd.ftt.entity.Role" resultMap="BaseResultMap">
        select
        <trim suffixOverrides=",">
            ROLE_ID,
            ROLE_NAME,
            PARENT_ID,
            `DESC`,
            RIGHTS
        </trim>
        from a_sys_role
        <where>
            <if test="roleId != null and roleId !=''">
                and ROLE_ID = #{roleId}
            </if>
            <if test="roleName != null and roleName !=''">
                and ROLE_NAME = #{roleName}
            </if>
            <if test="parentId != null and parentId !=''">
                and PARENT_ID = #{parentId}
            </if>
            <if test="desc != null and desc !=''">
                and `DESC` = #{desc}
            </if>
            <if test="rights != null and rights !=''">
                and RIGHTS = #{rights}
            </if>
        </where>
    </select>
    <delete id="batchDelete" parameterType="java.lang.String">
        delete from a_sys_role
        where ROLE_ID in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.nxd.ftt.entity.Role">
        insert into a_sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null and roleId !=''">
                ROLE_ID ,
            </if>
            <if test="roleName != null and roleName !=''">
                ROLE_NAME ,
            </if>
            <if test="parentId != null and parentId !=''">
                PARENT_ID ,
            </if>
            <if test="rights != null and rights !=''">
                RIGHTS ,
            </if>
            <if test="desc != null and desc !=''">
                `DESC` ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null and roleId !=''">
                #{roleId} ,
            </if>
            <if test="roleName != null and roleName !=''">
                #{roleName} ,
            </if>
            <if test="parentId != null and parentId !=''">
                #{parentId} ,
            </if>
            <if test="rights != null and rights !=''">
                #{rights} ,
            </if>
            <if test="desc != null and desc !=''">
                #{desc} ,
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="java.lang.String">
        update a_sys_role
        set
        <trim suffixOverrides=",">
            <if test="roleId != null and roleId !=''">
                ROLE_ID = #{roleId} ,
            </if>
            <if test="roleName != null and roleName !=''">
                ROLE_NAME = #{roleName} ,
            </if>
            <if test="parentId != null and parentId !=''">
                PARENT_ID = #{parentId} ,
            </if>
            <if test="rights != null and rights !=''">
                RIGHTS = #{rights} ,
            </if>
            <if test="desc != null and desc !=''">
                `DESC` = #{desc} ,
            </if>
        </trim>
        where ROLE_ID = #{roleId}
    </update>
    <delete id="delete" parameterType="com.nxd.ftt.entity.Role">
        delete from a_sys_role
        where ROLE_ID = #{roleId}
    </delete>

    <select id="findRoleByUser" resultMap="BaseResultMap">
        select
        <trim suffixOverrides=",">
            b.ROLE_ID,
            b.ROLE_NAME,
            b.PARENT_ID,
            b.`DESC`,
            b.RIGHTS
        </trim>
        from a_sys_user_role a
        left join a_sys_role b on a.ROLE_ID = b.ROLE_ID
        where a.USER_ID = #{userId}
    </select>
</mapper>